<!-- All E-mails -->
<div ng-controller="InboxController">
    <!--Emails-->
    <div class="noEmails" ng-hide="emails">
        <p>Yay! No Emails!</p>
    </div>

    <div class='email' number='{{$index+1}}' ng-repeat="email in emails">
        <h3><span class='email_index' ng-bind='email.subject'></span></h3>
        <p>From: <span ng-bind='email.from'></span></p>
        <p>Date: <span ng-bind='email.date'></span></p>
        <p>Message: <span ng-bind='email.message'></span></p>

        <button><a ng-href='#inbox/{{email.id}}'>Read</a></button>
        <button ng-click="deleteEmail(email)">Delete</button>
    </div>
</div>